<div class="container container-fluid d-flex mt-4">
  <div class="top-row screen-border">
    <div class="d-flex flex-row justify-content-between">
      <div class="col-sm-4 pt-2 pl-4">
        <small
          ><strong>{{ time }}</strong></small
        >
        <img
          id="location"
          src="../assets/icons/location-icon.png"
          height="13"
        />
      </div>
      <div class="col-sm-5"></div>
      <div class="col-sm-3 pt-3 pl-2 pr-3 d-flex justify-content-between">
        <img
          class="pl-3"
          *ngIf="airplane"
          id="airplane"
          src="../assets/icons/airplane.png"
          height="15"
        />
        <img
          *ngIf="!airplane"
          id="bars"
          src="{{ '../assets/icons/signal/cell-bars-' + signal + '.png' }}"
          height="15"
        />

        <img
          *ngIf="wifi < 4 && !airplane"
          id="wifi"
          src="{{ '../assets/icons/wifi/wifi-' + wifi + '.png' }}"
          height="15"
        />

        <small
          *ngIf="wifi === 4 && !airplane"
          class="pr-1"
          style="line-height: 15px;"
          >LTE</small
        >

        <img
          id="battery"
          src="{{ '../assets/icons/battery/battery-' + battery + '.png' }}"
          height="18"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-1">
        <img
          id="chevron"
          src="../assets/icons/chevron-left-blue.png"
          alt="left-arrow"
          height="18"
        />
      </div>
      <div class="col-md-10 d-flex justify-content-center">
        <div class="contact-circle">
          <div class="sendee-initials mt-2" style="color: white;">
            <h6>{{ initials }}</h6>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <p id="contact-name" class="mt-1">{{ sendee }}</p>
        <img
          id="right-chevron"
          src="../assets/icons/right-chevron-darker-gray.png"
          height="7"
        />
      </div>
    </div>
  </div>
  <div class="screen-body screen-border pt-1">
    <div class="container-fluid text-container">
      <div
        class="col-md-9 text px-0 text-box"
        *ngFor="let text of texts; let i = index"
        [ngClass]="text.from"
      >
        <div
          class="d-flex flex-row flex-wrap px-0 mx-0"
          [ngClass]="{
            'adtnl-spacing': texts[i - 1]?.from !== texts[i].from,
            'justify-content-end': text.from === 'me'
          }"
        >
          <img
            class="btn-start"
            *ngIf="text.from === 'you' && texts[i + 1]?.from !== 'you'"
            id="gray-left"
            src="../assets/icons/gray-bubble-end.png"
            height="24"
          />
          <div class="text.from" [ngClass]="'text-' + text.from" class="pr-3">
            <small>{{ text.text }}</small>
          </div>
          <img
            class="trash"
            *ngIf="remove && text.from === 'me'"
            src="../assets/icons/trash-gray-sq.png"
            height="24"
            (click)="removeText(i)"
          />
          <img
            class="your-trash"
            *ngIf="remove && text.from === 'you'"
            src="../assets/icons/trash-gray-sq.png"
            height="24"
            (click)="removeText(i)"
          />
          <img
            class="btn-end"
            *ngIf="text.from === 'me' && texts[i + 1]?.from !== 'me'"
            id="blue-right"
            src="../assets/icons/blue-bubble-end.png"
            height="24"
          />
        </div>
      </div>
    </div>
  </div>
</div>
