<div class="app-container">
  <div class="container header-cont">
    <div class="d-inline-flex flex-row header pt-3 pb-1 mt-3">
      <h3>Fake iMessage Builder</h3>
    </div>
  </div>

  <div class="d-flex px-4 pt-2 mx-5 justify-content-around">
    <div class="col-md-4 mt-5">
      <div class="card">
        <div class="card-body m-2">
          <div class="row">
            <label for="sendeeNameInput">Send To:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              [(ngModel)]="sendee"
            />
          </div>
          <div class="row mt-3">
            <label for="sendeeInitialsInput">Contact's Initials:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              [(ngModel)]="initials"
            />
          </div>

          <div class="row mt-3">
            <label for="messageInput">Message:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              [(ngModel)]="text"
            />
          </div>
          <div
            class="pr-4 mt-2 btn-group btn-block"
            role="group"
            id="add-text-btns"
          >
            <button class="btn to-btn" (click)="sendText('you')">
              Send To You
            </button>

            <button class="btn from-btn" (click)="sendText('me')">
              Send From You
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col screen-col d-flex flex-shrink-1 justify-content-center">
      <app-screen
        [sendee]="sendee"
        [time]="time"
        [texts]="texts"
        [initials]="initials"
      ></app-screen>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card">
        <div class="card-body m-2">
          <div class="row">
            <label for="timeInput">Time:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              [(ngModel)]="time"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex footer">
  <p>heyo</p>
</div>
