<div class="d-flex flex-row">
  <div class="col flex-grow-1">
    <div class="row ml-5 mt-5">
      <label for="sendeeNameInput">Send To:</label>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="sendee"/>
    </div>
    <div class="row ml-5 mt-3">
      <label for="sendeeInitialsInput">Contact's Initials:</label>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="initials"/>
    </div>
    <div class="row ml-5 mt-3">
      <label for="timeInput">Time:</label>
      <input type="text" class="form-control form-control-sm" [(ngModel)]="time"/>
    </div>

    
  </div>
  <div class="d-flex col-md flex-shrink-1 ">
    
      <app-screen [sendee]="sendee" [time]="time" [texts]="texts" [initials]="initials"></app-screen>


  </div>
  <div class="col flex-grow-1 mt-5">
    <div class="container add-text-rows">
      <div class="row mb-3">
        <input type="text" class="form-control form-control-sm" placeholder="enter text" [(ngModel)]="text"/>
      </div>
      <div class="d-flex flex-row flex-grow-1 justify-content-center" id="add-text-btns" >
        <div class="col px-1">
            <button class="btn btn-outline-secondary" (click)="sendText('you')">Send Text To You</button>
        </div>
        <div class="col px-1">
            <button class="btn btn-outline-primary float-right" (click)="sendText('me')">Send Text From You</button>
        </div>
    </div>
    </div>
  </div>
</div>

